/* Add CSS Styling */

.background-black {
    background-color: black;
    color: white;
}
.background-yellow {
    background-color: Yellow;
}

.background-yellow,
.background-black {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}