body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
  
}

.title {
  /* display: block; */
  background: #e3f4ff;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 8px;
}

.content {
  /* display: block; */
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container {
  text-align: center; 
  padding: 8px;
  background: #e3f4ff;
  margin: 10px;
  
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}